Package            Version
------------------ ------------
blinker            1.7.0
certifi            2023.7.22
pytz               2023.3.post1
PyYAML             6.0.1
requests           2.31.0
setuptools         65.5.1
six                1.16.0
tzdata             2023.3
urllib3            2.0.6
vboxapi            1.0
vboxapi            1.0
vboxapi            1.0
Werkzeug           3.0.1
wheel              0.38.4
